@font-face {
  font-family: 'iconfont'; /* Project id 2171477 */
  src: url('iconfont.woff2?t=1656146586660') format('woff2'),
    url('iconfont.woff?t=1656146586660') format('woff'),
    url('iconfont.ttf?t=1656146586660') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-refresh:before {
  content: '\e600';
}

.icon-fire:before {
  content: '\e637';
}

.icon-app:before {
  content: '\e644';
}

.icon-paihangbang:before {
  content: '\e782';
}

.icon-user:before {
  content: '\e60a';
}

.icon-shuffle:before {
  content: '\e60e';
}

.icon-share:before {
  content: '\e622';
}

.icon-menu:before {
  content: '\e638';
}

.icon-more:before {
  content: '\e700';
}

.icon-back:before {
  content: '\e635';
}

.icon-timer:before {
  content: '\e634';
}

.icon-like-fill:before {
  content: '\e668';
}

.icon-download:before {
  content: '\e690';
}

.icon-play-next:before {
  content: '\e662';
}

.icon-play-prev:before {
  content: '\e663';
}

.icon-play:before {
  content: '\e664';
}

.icon-singer:before {
  content: '\e647';
}

.icon-pause:before {
  content: '\e601';
}

.icon-album:before {
  content: '\e606';
}

.icon-play-next-circle:before {
  content: '\e602';
}

.icon-search:before {
  content: '\e65e';
}

.icon-mix:before {
  content: '\e636';
}

.icon-play-circle:before {
  content: '\e643';
}

.icon-play-list:before {
  content: '\e604';
}

.icon-loop:before {
  content: '\e607';
}

.icon-selected:before {
  content: '\e608';
}

.icon-close:before {
  content: '\e653';
}

.icon-source:before {
  content: '\e739';
}

.icon-sequence:before {
  content: '\e609';
}

.icon-add-box:before {
  content: '\e61a';
}

.icon-comment:before {
  content: '\e875';
}

.icon-canlendar:before {
  content: '\e85f';
}

.icon-fav-fill:before {
  content: '\e611';
}

.icon-fav:before {
  content: '\e612';
}

.icon-roundclose:before {
  content: '\e659';
}

.icon-left:before {
  content: '\e679';
}

.icon-right:before {
  content: '\e6a3';
}

.icon-cart:before {
  content: '\e6af';
}

.icon-delete:before {
  content: '\e6b4';
}

.icon-like:before {
  content: '\e61b';
}

.icon-add:before {
  content: '\e629';
}

.icon-play-fill:before {
  content: '\e865';
}
