.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.4s ease-in-out;
}

.slide-up-enter-from,
.slide-up-leave-to {
  transform: translate3d(0, 100%, 0);
}

.tag-item {
  border-radius: 15px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: $link-bg;
}

.module-container {
  background-color: $module-bg;
  border-radius: $border-radius-mx;
  margin: $gap-lg;
  .module-header {
    display: flex;
    align-items: center;
    padding: $padding $padding-lg;
  }
}
.title-bar {
  padding: 0 $padding-lg;
  display: flex;
  align-items: center;
  font-size: $font-size-lg;
  height: 60px;
  line-height: 60px;
  .icon-back {
    margin-right: $gap-lg;
    font-size: $font-size-lx;
  }
  .title {
    font-weight: 500;
    flex: 1;
    @include text-overflow;
  }
  .tools {
    .iconfont {
      margin-left: $gap-lg;
    }
  }
}

.scroller-container {
  height: 100%;
  overflow-y: auto;
}

.sub-text {
  font-size: $font-size-sm;
  color: $gary;
}

.loading {
  padding: $padding-lg;
  text-align: center;
  color: $text-secondary;
}

.nav-container {
  display: flex;
  align-items: center;
  .nav-list {
    flex: 1;
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    .nav-item {
      padding: $padding $padding-lx;
      position: relative;
      &.active {
        color: $primary;
        font-weight: 600;
        &::after {
          display: block;
          content: '';
          height: 2px;
          background: $primary;
          position: absolute;
          width: 30px;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          border-radius: 2px;
        }
      }
    }
  }
  .more-btn {
    padding: $padding;
  }
}
