// font-size
$font-size: 14px;
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-mx: 16px;
$font-size-lg: 18px;
$font-size-lx: 24px;

// border-radius
$border-radius: 4px;
$border-radius-sm: 2px;
$border-radius-md: 4px;
$border-radius-mx: 8px;
$border-radius-lg: 16px;

$gap: 10px;
$gap-xs: $gap * 0.3;
$gap-sm: $gap * 0.5;
$gap-md: $gap * 1;
$gap-mx: $gap * 1.2;
$gap-lg: $gap * 1.5;
$gap-lx: $gap * 2;

// padding
$padding: 10px;
$padding-xs: $padding * 0.3;
$padding-sm: $padding * 0.5;
$padding-md: $padding * 1;
$padding-mx: $padding * 1.2;
$padding-lg: $padding * 1.5;
$padding-lx: $padding * 2;

// header-footer -height
$header-height: 48px;
$footer-height: 48px;

// transtion time
$transition-time-fast: 0.1s;
$transition-time-normal: 0.25s;
$transition-time-slow: 0.4s;

//z-index
$player-index: 10;
$title-bar-index: 10;
$fullscreen-player-index: 11;
$siderbar-index: 12;
$playlist-detail-index: 13;
$bottom-panel-index: 20;
$login-box-index: 30;
$modal-index: 1000;
// 动态主题配色
$gary: #afafaf;

$body-bg: var(--body-bg);
$text: var(--text);
$text-reversal: var(--text-reversal);
$text-nav: var(--text-nav);
$text-secondary: var(--text-secondary);
$primary: var(--primary);
$header-bg: var(--header-bg);
$link-bg: var(--link-bg);
$module-bg: var(--module-bg);
$bg-reversal-opacity-9: var(--bg-reversal-opacity-9);
$border: var(--border);
$text-link: #0c73c2;

$modal-bg: rgba(0, 0, 0, 0.2);
$transition: all 0.4s ease-in-out;
$player-height: 60px;
